/* #4EB883 */
#app {
  font-family: "Montserrat", sans-serif;
}

.router-link-exact-active {
  font-weight: bold;
}
.btn-success {
  background-color: #4eb883 !important;
}
.badge-success {
  background-color: #4eb883 !important;
}
.card-product {
  border-radius: 15px !important;
}
.card-img-top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.breadcrumb {
  background-color: transparent !important;
  padding: 0 !important;
}
.breadcrumb-item.active {
  font-weight: bold !important;
  color: black !important;
}

.img-fluid {
  border-radius: 15px !important;
}
