/* #4EB883 */
#app {
  font-family: "Montserrat", sans-serif;
}

.router-link-exact-active {
  font-weight: bold;
}
.btn-success {
  background-color: #4eb883;
}
.badge-success {
  background-color: #4eb883;
}
.card-product {
  border-radius: 15px !important;
}
.card-img-top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
